<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unuma copy 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unuma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61A11DD61E2A9D7D000F6184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A11DEF1E2A9D7D000F6184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A11DFA1E2A9D7D000F6184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A11E0D1E2B8673000F6184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A11E1C1E2BAAC2000F6184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
